@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

html{
    font-family: 'Red Hat Text', sans-serif;
}
body{
    background-color: var(--rose100);
    color: var(--rose900);
    font-size: 1rem;
    margin: 0;
    padding: 2rem 4rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--rose900);
}

/* section layout */
section{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
#product-display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    flex-grow: 1;
    width: auto;
}
.product{
    width: 100%; 
    max-width: 200px;
    height: auto; 
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative;
}
.product img{
    width: 200px;
    border-radius: 10px;
    
}
.product-info{
    margin-top: 1rem;
}
.product p{
    color: var(--rose900);
    font-size: 0.8rem;
}
.product h4{
    font-size: 0.8rem;
    font-weight: 700;
    ;
}
.product h5{
    color: var(--red);
    font-size: 0.8rem;
    font-weight: 700;
}
.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--red);
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transform: translateX(25%);
    position: absolute;
    bottom: 3.7rem;
    
}

.add-to-cart-btn img {
    margin-right: 10px;
    width: 20px;
}



/* about cart display */
.cart-display{
    width: 400px;
    border-radius: 10px;
    background-color: var(--rose50);
    padding: 0rem 1rem; 
    position: sticky;
    top: 0;
}
.cart-display h2{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 700;
    
}
.cart-items {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--rose300);
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.confirm-order-btn {
    width: 100%;
    padding: 1rem;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2.5rem;
    border: none;
    background-color: var(--red);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 3.7rem;
    transform: translateX(25%);
}
.quantity-decrease,
.quantity-increase {
    background: none;
    border: none;
    cursor: pointer;
}

.quantity-control button {
    border: white;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quantity-control button img {
    width: 10px;
    height: 10px;
    gap: 1rem;
}

.quantity-control .quantity-value {
    font-size: 1rem;
    font-weight: bold;
    color: white;

}


/* Responsive design */
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    #product-display {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .cart-display {
        width: 100%;
        margin-top: 2rem;
    }
}